@charset "utf-8";

.wrap { background:none;}
#header{position: relative; z-index: 3;}
#content{width: 100%;max-width: 100%;margin: 0;padding: 0;}
.row:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}

#rowA{ background:url(../../Base/img/rowAbg.jpg) no-repeat; height:565px; padding-top:30px; }

.mainBanner {position:relative;}
.mainBanner li img { width:100%;}
.mainBanner li .con { display:none;} 
.mainBanner .hd { position:absolute; bottom:25px; left:50%;}
.mainBanner .hd li { float:left; background:url(../../Base/img/hdlite.png) no-repeat left; width:15px; height:15px; line-height:100px; overflow:hidden;}
.mainBanner .hd li.on { background-position:right;}

#focusPic{width: 1200px; margin: 20px auto 0;}
#focusPic .bd .pic img{height: 420px;}
#focusPic .hd{bottom: 30px; right: 30px;}
#focusPic .hd ul li{width: 15px; height: 15px;}
#focusPic .bd .con{bottom: 50px; left: 50px; height: 60px; line-height: 60px;}
#focusPic .bd .con .titleBg{height: 60px; display: none;}
#focusPic .bd .con .title a{font-size: 16px; display: block; padding: 0 20px; background: rgba(0, 0, 0, 0.5); filter: alpha(opacity=80);}
#focusPic .bd .con .title{width: auto;}
#focusNews{float: left;width: 520px;margin-right: 20px;}
#focusNews .hd{position: absolute !important; height: 12px;}
#focusNews .hd ul{position: relative;}
#focusNews .bd{padding: 0; border: 0;}
#focusNews .bd .pic img{height: 330px;}
#rowA #focusNews { float:left;width: 520px; margin-right:20px;}
#rowA #indXwdt{ overflow:hidden; } 

#indXwdt .hd {background:url(../../Base/img/indXwdthdbg.png) no-repeat bottom; height:40px; line-height:40px; padding-bottom:6px; font-size:18px; margin-bottom:10px;}
#indXwdt .hd li {float:left; padding:0 20px; background:url(../../Base/img/hdspaline.png) no-repeat right;}
#indXwdt .hd li a { text-decoration:none;}
#indXwdt .hd li.on a { color:#192e59; font-weight:bold;}
#indXwdt .topicList .t { height:70px;background: #a8afbe url(../../Base/img/indXwdttbg.png) no-repeat bottom right; margin-bottom:5px;border-radius: 3px;}
#indXwdt .topicList .t .title {text-align:left;}
#indXwdt .topicList .t .title a {font-weight:400;color:#fff;line-height:70px;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#indXwdt .topicList .t .intro { display:none;}
#indXwdt .topicList .t .calendar { float:left; width:110px; color:#fff; font-weight:400; font-size:14px; line-height:28px; text-align:center; margin-right:10px;}
#indXwdt .topicList .t .calendar i { display:block; font-size:20px;  padding-top:8px;}

.indBtns { margin:25px 0;}
.indBtns ul { margin-right:-26px;}
.indBtns li { float:left; width:178px;margin-right:26px; line-height:58px;}
.indBtns li a {display:block;padding-left:80px;text-align:left;font-size:16px;background:#f9f9f9 url(../../Base/img/indBtnsicons.png) no-repeat 25px 13px;border-radius: 3px;border: solid 1px #f0f0f0;}
.indBtns .li2 a { background-position:-179px 13px;}
.indBtns .li3 a { background-position:-383px 13px;}
.indBtns .li4 a { background-position:-587px 13px;}
.indBtns .li5 a { background-position:-791px 13px;}
.indBtns .li6 a { background-position:-995px 13px;}

.indBtns li a:hover { text-decoration: none; color:#fff; background-color:#192e59; border-color:#192e59; background-position-y:-87px;}

/* 热点专题 */
#indRdzt .hd, #indRdzt .con { display:none;}

#rowB{ background:url(../../Base/img/rowBbg.jpg) no-repeat; height:610px; padding-top:20px; }
#bnrgBox { float:left; width:400px; margin-right:40px; display:inline; }
#bnrgBox .hd { background:url(../../Base/img/hdlionbg.png) no-repeat left bottom; height:48px; line-height:48px;}
#bnrgBox .hd .more { float:right; font-size:14px; color:#606060}
#bnrgBox .hd h3 a{font-size:20px;color:#192e59;padding:0 25px;display:block;float:left;font-weight: bold;}
#bnrgBox .bd { background:#fff; padding:20px; height:260px;}
#bnrgBox .bd ul { margin-right:-20px;}
#bnrgBox .bd li { float:left; width:170px; margin-right:20px; line-height:70px; margin-bottom:20px;}
#bnrgBox .bd li a {display:block;padding-left:80px;text-align:left;font-size:16px;background:#fff url(../../Base/img/bnrgicons.png) no-repeat 25px 17px;border-radius: 3px;border: solid 1px #bbc8e3;}
#bnrgBox .bd .li2 a { background-position:-179px 17px; border-color:#a5d7db}
#bnrgBox .bd .li3 a { background-position:-383px 17px; border-color:#e7c3c8}
#bnrgBox .bd .li4 a { background-position:-587px 17px; border-color:#b5e6ce}
#bnrgBox .bd .li5 a { background-position:-791px 17px; border-color:#bcd0ec}
#bnrgBox .bd .li6 a { background-position:-995px 17px; border-color:#f5d3bf}

#bnrgBox li a:hover { text-decoration: none; color:#fff; background-color:#192e59; border-color:#192e59!important; background-position-y:-83px!important;}

#dyzcBox {padding-left:40px; overflow:hidden;}
#dyzcBox .hd {height:48px; line-height:48px;}
#dyzcBox .hd li { float:left; font-size:20px; background:url(../../Base/img/hdspaline.png) no-repeat left;}
#dyzcBox .hd li:nth-child(1) { background:none;}
#dyzcBox .hd li a { padding:0 25px; display:block; background-position:bottom;text-decoration: none;}
#dyzcBox .hd li.on a {background:url(../../Base/img/hdlionbg.png) no-repeat bottom; font-weight:bold; color:#192e59}
#dyzcBox .bd { background:#fff; height:300px;}
#dyzcBox .bd li { height:99px; border-bottom: 1px #ddd dashed; padding-right:20px;}
#dyzcBox .bd li.last { border:0;}
#dyzcBox .bd li .calendar {float:left;color:#fff;margin-left:-40px;text-align:center;margin-right:25px;line-height:27px;font-size:14px;margin-top:15px;background:#adb4c1 url(../../Base/img/calendarbg.png) no-repeat bottom left;width:80px;height:70px;border-radius:10px 0;font-weight: 400;transition: all 0.3s;}
#dyzcBox .bd li:hover .calendar { background-color:#192e59; color:#e1e5ec;}
#dyzcBox .bd li .calendar i { display:block; font-size:26px; padding-top:10px;}
#dyzcBox .bd li .title { text-align:left;}
#dyzcBox .bd li .title a {display:block; padding-top:17px; font-weight:400;}
#dyzcBox .bd li .intro { font-size:14px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

#dqjsBox { padding:20px; background:#fff; margin-top:30px;}
#dqjsBox .hd { background:#192e59 url(../../Base/img/dqjshdtibg.png) no-repeat bottom center; float:left; height:170px; width:55px; margin-right:30px;}
#dqjsBox .hd h3 a{ font-size:20px; color:#fff; display:block; padding:45px 15px 0; line-height:20px; text-align:center; }
#dqjsBox .topicList li.t { float:left; text-align:left; padding-top:5px; width:560px; padding-right:30px; margin-right:30px; display:inline; border-right:1px solid #eee;}
#dqjsBox .topicList li.t .pic { float:left; margin-right:17px;}
#dqjsBox .topicList li.noPic .pic { display:none;}
#dqjsBox .topicList li.t .con { overflow:hidden;}
#dqjsBox .topicList li.t .title { text-align:left; font-weight:400; font-size:18px; padding:15px 0 5px; height: 30px;line-height: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#dqjsBox .topicList li.t .intro { font-size:14px; line-height:30px; height: 60px;overflow: hidden;}
#dqjsBox .topicList li.t .date { color:#999;}

#indXyfg { padding-top:30px;}
#indXyfg .hd { background:url(../../Base/img/indXyfghdbg.png) no-repeat bottom left; height:40px; padding-bottom:4px;}
#indXyfg .hd h3 { float:left; font-size:20px; }
#indXyfg .hd h3 a {color:#192e59;font-weight: bold;}
#indXyfg .hd .more { padding-top:28px; height:16px; line-height:16px;}
#indXyfg .bd { padding-top:20px;}
#indXyfg .bd ul { margin-right:-20px;}
#indXyfg .bd li { float:left; margin-right:20px;}

#rowC { background:url(../../Base/img/rowCbg.jpg) no-repeat bottom; height:332px;}

/*--
颜色代码
#416eb4 深色标题
#ddd 淡色边框
--*/